.heroSection {
  gap: unset;
  pointer-events: none;
}

.heroSectionMain {
  display: grid;
  padding: 108px 0 120px 0;
  z-index: 0;
  max-width: fit-content;

  @media (max-width: 768px) {
    padding: 172px 0 67px 0;
  }
}

.brandIcon {
  width: 40px;
  height: 40px;
  color: var(--color-m800);

  margin-bottom: 16px;

  @media (max-width: 768px) {
    margin-bottom: 12px;
  }
}

.heroTitle {
  margin-bottom: 32px;
  pointer-events: all;

  @media (max-width: 768px) {
    font-size: 1.875rem;
    margin-bottom: 16px;
  }
}

.heroSubTitle {
  font-size: 1.375rem;
  padding-bottom: 48px;
  width: max-content;
  pointer-events: all;

  @media (max-width: 768px) {
    font-size: var(--font-size-base);
  }
}

.gradientTitle {
  background: linear-gradient(to right, #ed0d92 0%, #9b085f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.heroActions {
  display: flex;
  gap: 16px;
  pointer-events: all;
}
