.container {
  height: 84px;
  padding-inline: var(--spacing-3xl);
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-xxl);
  background-color: var(--color-header);

  @media (max-width: 768px) {
    padding-inline: var(--spacing-sm);
  }
}

.logo {
  margin-bottom: var(--spacing-sm);
  min-width: 64px;

  @media (max-width: 768px) {
    flex: 1;
  }
}

.logo > path {
  color: var(--color-n800);
  fill: currentColor;
}

.navigation {
  flex: 1;
  display: flex;
  gap: var(--spacing-xl);
}

.actions {
  display: flex;
  gap: var(--spacing-xs);
  margin-bottom: var(--spacing-sm);
}

.themeButton {
  padding: 0 10px;
}
