/* .block {
  display: flex;
  padding: 24px 9vw;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 24px 32px;
  }
} */

/* .blogSection {
} */

.actionButton {
  color: var(--color-m800);
}

.blogList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
