/* .solution {
} */

.icon {
  min-width: 40px;
  min-height: 40px;
  color: var(--theme-color);
}

.title {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;

  @media (max-width: 768px) {
    margin-bottom: 12px;
    align-items: center;
  }
}

.title h3 {
  @media (max-width: 768px) {
    font-size: 1.25rem;
  }
}

/* .description {
  
} */

.features {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.feature {
  border-radius: 32px;
  padding: 24px;
  background-color: var(--color-n200);
  /* transition: background 0.3s ease; */
}

.feature:hover .featureIcon {
  color: var(--color-f-white);
}

.feature:hover {
  background: var(--theme-gradient);
}

.feature h3,
.feature p,
.feature svg {
  transition: unset;
}

.feature:hover h3,
.feature:hover p {
  color: var(--color-f-white);
}

.featureIcon {
  width: 32px;
  height: 32px;
  margin-bottom: 12px;
  color: var(--theme-color);
}

.featureTitle {
  margin-bottom: 6px;
}
