.heroSection {
  gap: unset;
  pointer-events: none;
}

.heroSectionMain {
  display: grid;
  padding: 108px 0 0 0;
  z-index: 0;
  max-width: fit-content;
  pointer-events: all;

  @media (max-width: 768px) {
    padding: 48px 0 0 0;
  }
}

.heroTitle {
  margin-bottom: 32px;

  @media (max-width: 768px) {
    font-size: 1.875rem;
    margin-bottom: 16px;
  }
}

.heroSubTitle {
  font-size: 1.25rem;

  @media (max-width: 768px) {
    font-size: var(--font-size-base);
  }
}
