.container {
  height: 84px;
  padding-inline: 72px;
  display: flex;
  align-items: flex-end;
  gap: 64px;
  background-color: var(--color-header);
  transition: background-color 0.3s ease;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-n300);

  @media (max-width: 768px) {
    padding-inline: 24px 16px;
    justify-content: space-between;
  }
}

.logo {
  margin-bottom: 16px;
  min-width: 64px;

  @media (max-width: 768px) {
    display: none;
  }
}

.logoMobile {
  display: none;
  margin-bottom: 16px;

  @media (max-width: 768px) {
    display: block;
    min-width: 27px;
  }
}

.logo,
.logoMobile {
  color: var(--color-n800);
}

.navigation {
  flex: 1;
  display: flex;
  gap: 48px;
}

.actions {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;

  @media (max-width: 768px) {
    gap: 6px;
  }
}

.themeButton,
.menuButton {
  width: 40px;
  padding: 0 10px !important;
  color: var(--color-n800);
}

.themeButton svg,
.menuButton svg {
  width: 20px;
  height: 20px;
}

.menuButton {
  display: none !important;

  @media (max-width: 768px) {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}
