.page {
  display: grid;
  gap: 120px;
  margin-bottom: 200px;

  @media (max-width: 768px) {
    gap: 64px;
    margin-bottom: 128px;
  }
}

.metricSection {
  @media (min-width: 769px) {
    margin-bottom: -48px;
  }
}
